.calc{
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 370px;
    margin: 0 auto;
}

.buttons button{
    background-color: #eee;
    width: 100px;
    padding: 10px 20px;
    color: black;
    border: none;
    margin: 10px; 
    font-weight: bold; 
}

.buttons button:hover { 
    background-color: #ccc; 
} 

#expression{
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}